VERSION=PRE-ALPHA-0.0.1
JWT_SECRET=GonzaloHonoresDios
POSTGRES_DB=rustock_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=pass
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
DB_URL=postgres://postgres:pass@localhost:5432/rustock_db
DATABASE_URL=postgres://postgres:pass@localhost:5432/rustock_db